@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<script>
    function newPassClick() {
        var username = document.getElementById("username").value;
        var oldPass = document.getElementById("oldPass").value;
        var newPass = document.getElementById("newPass").value;
        $.get("/Account/ChangePasswordAct?username=" + username + "&oldPassword=" + oldPass + "&newPassword=" + newPass, function (data) {
            if (data == "True") {
                alert("Password changed");
            }
            else {
                alert("Password was not changed");
            }
        })
    }
</script>
username
<input id="username" type="text" />
old pass
<input id="oldPass" type="text" />
new pass
<input id="newPass" type="text" />
<button id="sumbitPass" onclick="newPassClick()">Change Password</button>


@*needs to check page*@